/* Responsive Styles */
@media (max-width: 768px) {
  /* header */
  .nav-link {
    display: none; 
  }
  .hamburger-menu {
    display: block;
    cursor: pointer;
    color: WHITE;
    font-size: 30px;
  }

  /* banner styles */
  .banner-content{
    display: block;
    max-width: 700px;
  }
  /*shared styles  */
  .btn-primary{
    margin-bottom: 20px;
  }







  /* team section */
  .team-card-list {
    grid-template-columns: 1fr;
    margin: 2rem 2rem;
  }

  .team-card-content {
    transform: translate(10%, -100%);
  }
}

@media (max-width: 576px) {
  /* shared styles */
  h3{
    font-size: 1.5rem;
  }

  /* navbar styles starts here */
  /* header */
  .nav-link {
    display: none; 
  }
  .hamburger-menu {
    display: block;
    cursor: pointer;
    color: WHITE;
    font-size: 20px;
  }

  /* banner styles */
.banner-content{
  display: block;
}




  /* footer styles starts here */
  .btn-primary{
    margin-bottom: 20px;
  }
  footer {
    padding: 20px 0;
  }

  .footer-container {
    flex-direction: column;
    justify-content: start;
    padding: 20px;
    max-width: 100%;
  }

  .footer-column {
    margin: 10px 0;
    text-align: left;
  }

  .footer-column h2 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .footer-column p {
    max-width: 100%;
    text-align: left;
    font-size: 14px;
  }

  .footer-column ul {
    padding: 0;
    text-align: left;
  }

  .footer-column ul li {
    margin-bottom: 8px;
    font-size: 14px;
  }

  .footer-bottom {
    font-size: 16px;
    margin-top: 10px;
  }
}
